{% extends "base.html.twig" %}
{% block body_attrs %} style="background: #efefef;"{% endblock %}
{% block body %}
    <div class="card card-fullscreen">
        <div class="card-body">
            {% block card_contents %}{% endblock %}
        </div>
    </div>
{% endblock %}
