{% extends "security/layout/card.html.twig" %}
{% block card_contents %}
<h5 class="card-title">What is your email address?</h5>
<p class="card-text">You will receive a dynamic link to log yourself in.</p>

<form action="{{ path('login') }}" method="post">
    {% if error is defined and error is not empty %}
        <p>{{ error }}</p>
    {% endif %}

    <div class="form-group">
        <label for="email">Your email address</label>
        <input name="email" id="email" type="text" class="form-control" required />
    </div>
    {% if redirect_url is defined %}<input type="hidden" name="redirect_url" value="{{ redirect_url }}" />{% endif %}
    {% if current_route is defined %}<input type="hidden" name="current_route" value="{{ current_route }}" />{% endif %}

    <button type="submit" class="btn btn-primary">Receive link</button>
</form>
{% endblock %}
