default:
    suites:
        default:
            contexts:
                - FeatureContext:
                    kernel: '@kernel'
                    mailer: '@App\Emails\Mailer'
                    experimentRepository: '@App\Repository\ExperimentRepository'
                    sentEmailRecordRepository: '@App\Repository\SentEmailRecordRepository'
                    renderAndSendEmails: '@App\Emails\RenderAndSendEmails'
                    urlGenerator: '@Symfony\Component\Routing\Generator\UrlGeneratorInterface'
                    tokenGenerator: '@App\SeamlessSecurity\Guard\TokenGenerator'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
