<h3>Your magic link has arrived!</h3>

<p>Just click on the following button to login and continue using LetsExperiment.today:</p>
<p>
    <a href="{{ link }}">Login with my magic link</a>.
</p>

<p>
See you there!<br>
Sam.
</p>
