<h3>You have been invited as a collaborator!</h3>

<p><em>{{ inviter.email }}</em> has invited you to collaborate on the experiment <strong>{{ experiment.name }}</strong>.
Click the following link to login and start collaborating:</p>

<p><a href="{{ link }}">Open the <em>{{ experiment.name }}</em> experiment</a></p>

<p>See you there, <br/>Sam.</p>
